*{
  margin:0;
  padding:0;
}
body{
height:100%;
width:100%;
background:linear-gradient(black, grey,blue,green,yellow);

}

.container{
  height:160px;
  width:160px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
 
}

.blocks{
  height:40px;
  width:40px;
  display:flex;
  position:relative;
  float:left;
}

.blocks::before{
  content:'';
  position:absolute;
  bottom:0;
  right:0;
  width:100%;
  height:100%;
    background: #3498db;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  100%{
    width:0;
    height:0;
  }
}

.c4::before{
  animation-delay:.8s;
}
.c3::before{
  animation-delay:.6s;
}
.c2::before{
  animation-delay:.4s;
}
.c1::before{
  animation-delay:.2s;
}
