*{
  margin:0;
  padding:0;
  text-transform: capitalize;
}
body{
  background:#fff;
  max-width:1240px;
  max-height: 1000px;

}

.front-page ,.back-page{
  height:300px;
  width:350px;
  background-color: rgba(0,0,0,0.1);
  box-sizing:border-box;
  border-radius: 20%;
  border: 2px solid black;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:30%;
  left: 35%;

  backface-visibility: hidden;
  transition: transform .8s linear;

}
.content{
  position:absolute;
margin:30px;
box-sizing: border-box;


}
.content p
 {
line-height: 30px;
justify-content: center;
align-items: center;
padding:20px;
}

.content h2 {
  text-decoration: underline;
  font-size: 2em;

}
.front-page{
  background: rgba(0,0,0,0.3);
}
.back-page{
  background: rgba(0,0,0,0.4);
}
.front-page{
  transform: perspective(600px) rotateY(180deg);
}
.back-page{
  transform: perspective(600px) rotateY(0deg);
}
.card:hover > .front-page{
  transform: perspective(600px) rotateY(360deg);
}

.card:hover > .back-page{
  transform: perspective(600px) rotateY(180deg);
}
